/* :root {
  --main-bg-color: linear-gradient(
    176deg,
    rgba(53, 0, 79, 1) 0%,
    rgba(138, 53, 190, 1) 0%,
    rgba(0, 206, 255, 1) 100%
  );
} */

body {
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
}
